# Base URL
NEXT_PUBLIC_API_BASE_URL=YOUR_API_BASE_URL_HERE
NEXT_PUBLIC_BASE_URL=YOUR_WEBSITE_BASE_URL_HERE

# Giscus Configuration
NEXT_PUBLIC_GISCUS_REPO=YOUR_GISCUS_REPO_HERE
NEXT_PUBLIC_GISCUS_REPO_ID=YOUR_GISCUS_REPO_ID_HERE
NEXT_PUBLIC_GISCUS_CATEGORY=YOUR_GISCUS_CATEGORY_HERE
NEXT_PUBLIC_GISCUS_CATEGORY_ID=YOUR_GISCUS_CATEGORY_ID_HERE